body {
  background-color: #66b4ff;
  color: #ffffff;
  margin: 0;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,lora, "Courier New",
    monospace;
}

/* personalisé le font */

@font-face {
  font-family: lora;
  src: url("/public/font//Laura/Lora-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: lora;
  src: url("/public/font/josef/JosefinSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: lora;
  src: url("/public/font/Laura/Lora-Regular.ttf");
  font-weight: 400;
}
